<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>商品名</td>
        <td>时间</td>
        <td>地点</td>
        <td>联系人</td>
        <td>电话</td>
        <td>目的地</td>
        <td>状态</td>
    </tr>
    <tr>
        <td>{{ order.o_name }}</td>
        <td>{{ order.o_time }}</td>
        <td>{{ order.location }}</td>
        <td>{{ order.person }}</td>
        <td>{{ order.tel }}</td>
        <td>{{ order.desc }}</td>
        <td>{{ order.status }}</td>
    </tr>
</table>
<ur class="sub">
    <li><a class="" href="/corderslist">
        <span class="sub-menu-text">返回</span>></a>
    </li>
</ur>
</body>
</html>