<!DOCTYPE html>
<html lang="en">
<head>
    <script src="{{url_for('static', filename='jquery.min.js')}}"></script>
    <script>

     function deleteorders(id)
     {
        $.ajax({
        url:'/orderslist/delete/' + id,
        dataType: 'html',
        data:id,
        success:function()
        {
            alert("删除成功")
            location.reload(true);
        }
        })
     }
    </script>

</head>
<body>
    <meta charset="UTF-8">
    <title>订单</title>
    <table>
    <tr>
        <td>编号</td>
        <td>订单名</td>
        <td>时间</td>
        <td>起始地</td>
        <td>订货客户</td>
        <td>电话</td>
        <td>目的地</td>
        <td>状态</td>
    </tr>
        {% for order in orders %}
    <tr>
            <td>{{ order.id }}</td>
            <td>{{ order.o_name }}</td>
            <td>{{ order.o_time }}</td>
            <td>{{ order.location }} </td>
            <td>{{ order.person }} </td>
            <td>{{ order.tel }}</td>
            <td>{{ order.status }}</td>
            <td><a href="{{url_for('customer_page.receive', id=order.id)}}">确认收货</a></td>
        <td>
            <button onclick="deleteorders({{order.id}})">删除</button>
        </td>

    </tr>
        {% endfor %} 

    </table>
    <tr>
        <form action="{{ url_for('customer_page.query') }}" method="post">
            <td>订单号: <input name="o_id" type="text" value=></td>
            <td><input type="submit" name="submit" value="查询" /></td>
        </form>
    </tr>
