<html>

<body>
<h1>新增个人信息</h1>

    <form action="{{ url_for('admin_page.user_add') }}" method="post">
        <table>
            <tr><td>用户名：</td><td><input id="name" type="text" name="username"/></td></tr>
            <tr><td>Email：</td><td><input id="email" type="text" name="email" /></td></tr>
            <tr><td>密码：</td><td><input id="password" type="text" name="password"/></td></tr>

            <tr><td>性别：</td>
                <td>
                    <input type="radio" name="gender" value="0"/>男
                    <input type="radio" name="gender" value="1"/>女
                </td></tr>
            <tr><td>用户：</td><td><input id="types" type="text" name="types"/></td></tr>
            <tr><td> </td><td><input id="submit" type="submit" name="submit" value="新增" /></td></tr>
        </table>
    </form>


</body>
</html>