<html xmlns="http://www.w3.org/1999/html">
<head></head>
<body>

<h1>用户首页</h1>

<table>
    <tr>
        <td>姓名</td>
        <td>邮箱</td>
        <td>用户</td>
    </tr>
    <tr>
        <td>{{ user.username }}</td>
        <td>{{ user.email }}</td>
        <td>{{ user.types }}</td>

    </tr>
</table>
<table>
    <tr>
        <a href="{{ url_for('login_page.edit', id=user.id) }}">用户修改</a>
    </tr></br>
    <tr>
        <a href="{{ url_for('login_page.go_page', id=user.id) }}">订单信息</a>
    </tr>
</table>
</body>
</html>