<!DOCTYPE html>
<html>
<head>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/demo.css') }}" type="text/css">
</head>
<body>

<form action="{{ url_for('login_page.login') }}" method="post">


  <div class="segment">
      {% for message in get_flashed_messages() %}
        <div class="alert">{{ message }}</div>
      {% endfor %}
    <h1>Sign up</h1>
  </div>

  <label>
    <input type="text" placeholder="Username" name="name"/>
  </label>
  <label>
    <input type="password" placeholder="Password" name="password"/>
  </label>
  <button class="red" type="submit" name="submit"><i class="fa fa-lock"></i> Log in</button>

  <div class="segment">
    <button class="unit" type="button"><i class="fa fa-mail-reply"></i></button>
    <button class="unit" type="button"><i class="fa fa-star"></i></button>
    <button class="unit" type="button"><i class="fa fa-gear"></i></button>
  </div>
</form>
<form action="{{ url_for('login_page.addinitdata') }}" method="post">
<label>
    <button type="submit" name="submit">导入数据</button>
</label>

</form>
</body>
</html>
