<!DOCTYPE html>
<html>
<head>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='css/login.css') }}" type="text/css">
</head>
<body>

<form action="{{ url_for('login_page.login') }}" method="post">


  <div class="segment">

    <h1>Sign up</h1>
  </div>

  <label>
    <input type="text" placeholder="Username" name="name"/>

  </label>
  <label>
    <input type="password" placeholder="Password" name="password"/>
  </label>
  <button class="red" type="submit" name="submit"><i class="fa fa-lock"></i> Log in</button>
    {% for message in get_flashed_messages() %}
        <p class="alert">{{ message }}</p>
    {% endfor %}

</form>

<form action="{{ url_for('login_page.addinitdata') }}" method="post">
  <button class="data-input" type="submit" name="submit">导入数据</button>
</form>
</body>
</html>
