<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新增订单</title>
    <link rel="stylesheet" href="../../static/assets/css/layui.css">
    <link rel="stylesheet" href="../../static/assets/css/view.css"/>
    <link rel="stylesheet" href="../../static/assets/css/admin.css"/>

    <style>
    .alert {
    color: #AE1100;
      font-size: 20px;
      font-weight: bold;
      text-align: center;
      letter-spacing: 5px;
    }
    </style>

</head>
<body class="layui-view-body">
    <div class="layui-content">
    	<!--面包屑导航-->
    	<div class="mianb">
    		<div class="mblf layui-col-xs6 layui-col-md6">
    			 <i class="layui-icon">&#xe656;</i>
    			 <p>物流追踪管理 > <span>生产商</span></p>
    		</div>
    		<div class="mbrt layui-col-xs6 layui-col-md6">
    			<a href="{{url_for('login_page.users')}}" class="layui-btn layui-btn-normal" >返回</a>
    		</div>
    	</div>

        {% for message in get_flashed_messages() %}
        <p class="alert">{{ message }}</p>
        {% endfor %}

    	<!--面包屑导航-->
        <div class="layui-row">
            <div class="layui-card">
            	<div class="table-responsive">
                    <form action="{{ url_for('login_page.password_edit', id=user.id) }}" method="post">
                        <table class="layui-table" lay-skin="line" lay-size="lg" id="table">
                            <tr><td>用户名：</td><td><input id="name" type="text" name="username" value="{{ user.username }}" readonly/></td></tr>
                            <tr><td>Email：</td><td><input id="email" type="text" name="email" value="{{ user.email }}" readonly/></td></tr>
                            <tr><td>原密码：</td><td><input id="old_password" type="password" name="old_password"/></td></tr>
                            <tr><td>新密码：</td><td><input id="new_password" type="password" name="new_password"/></td></tr>
                            <tr><td>重复新密码：</td><td><input id="re_new_password" type="password" name="re_new_password"/></td></tr>
                            <tr><td>性别：</td>
                                <td>
                                    <input type="radio" name="gender" value="0" {% if user.gender == 0 %}checked {% endif %}/>男
                                    <input type="radio" name="gender" value="1" {% if user.gender == 1 %}checked {% endif %}/>女
                                </td></tr>
                            <tr><td> </td><td><input id="submit" type="submit" name="submit" value="修改"  class="layui-btn layui-btn-normal" /></td></tr>
                        </table>
                    </form>
			 	</div>

           		<!--分页-->
           		<div id="page"></div>
           		<!--分页-->
            </div>
        </div>
    </div>

</body>
</html>