<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>仓库</title>
    <link rel="stylesheet" href="../../static/assets/css/layui.css">
    <link rel="stylesheet" href="../../static/assets/css/view.css"/>
    <link rel="stylesheet" href="../../static/assets/css/admin.css"/>
</head>
<body class="layui-view-body">
    <div class="layui-content">
    	<!--面包屑导航-->
    	<div class="mianb">
    		<div class="mblf layui-col-xs6 layui-col-md6">
    			 <i class="layui-icon">&#xe656;</i>
    			 <p>物流追踪管理 > <span>仓库</span></p>
    		</div>
    		<div class="mbrt layui-col-xs6 layui-col-md6">
    			<a href="{{url_for('login_page.users')}}" class="layui-btn layui-btn-normal" >返回</a>
    		</div>
    	</div>
    	<!--面包屑导航-->
        <div class="layui-row">
            <div class="layui-card">
            	<div class="table-responsive">
                    <form action="{{ url_for('warehouse_page.out', id=order.id) }}" method="post">
                        <table class="layui-table" lay-skin="line" lay-size="lg" id="table">
                            <tr><td>订单号：</td><td><input type="text" name="id" value="{{order.id}}" readonly="readonly"/></td></tr>
                            <tr><td>商品名：</td><td><input type="text" name="o_name" value="{{order.o_name}}" readonly="readonly"/></td>
                            <tr><td>入仓时间：</td><td><input type="text" name="o_time" value="{{order.o_time}}"readonly="readonly"/></td>
                            <tr><td>状态：</td><td><input type="text" name="status" value="{{order.status}}" readonly="readonly"/></td>
                            <tr><td>仓库地址：</td><td><input type="text" name="desc" value="{{order.desc}}" /></td>
                            <tr><td>&nbsp;</td><td><input type="submit" name="submit" value="入仓" /></td></tr>
                        </table>
                    </form>
			 	</div>

           		<!--分页-->
           		<div id="page"></div>
           		<!--分页-->
            </div>
        </div>
    </div>
    <font size="3" color="red" align="center">
    {% for message in get_flashed_messages() %}
        <p class="alert">{{ message }}</p>
    {% endfor %}
   	<div>
        <script src="../../static/assets/layui.js"></script>
        <script src="../../static/index.js" data-main="home"></script>
            <script src="../../static/home.js"></script>
        </div>

</body>
</html>
