<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<table>
    <tr>
        <td>商品名</td>
        <td>入仓时间</td>
        <td>仓库位置</td>
        <td>状态</td>
    </tr>
    <tr>
        <td>{{ orders.o_name }}</td>
        <td>{{ orders.o_time }}</td>
        <td>{{ orders.location }}</td>
        <td>{{ orders.status }}</td>
    </tr>
</table>
<ur class="sub">
    <li><a class="" href="/warehouselist">
        <span class="sub-menu-text">返回</span>></a>
    </li>
</ur>
</body>
</html>