<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>厂商</title>
    <link rel="stylesheet" href="../../static/assets/css/layui.css">
    <link rel="stylesheet" href="../../static/assets/css/view.css"/>
    <link rel="stylesheet" href="../../static/assets/css/admin.css"/>
</head>
<body class="layui-view-body">
    <div class="layui-content">
    	<!--面包屑导航-->
    	<div class="mianb">
    		<div class="mblf layui-col-xs6 layui-col-md6">
    			 <i class="layui-icon">&#xe656;</i>
    			 <p>物流追踪管理 > <span>仓库</span></p>
    		</div>
    		<div class="mbrt layui-col-xs6 layui-col-md6">
    			<a href="/warehouselist" class="layui-btn layui-btn-normal" id="yonghu">返回</a>
    		</div>
    	</div>
    	<!--面包屑导航-->
        <div class="layui-row">
            <div class="layui-card">
            	<div class="table-responsive">
			 		  <table class="layui-table" lay-skin="line" lay-size="lg" id="table">
						  <thead>
						    <tr>
                                <th>商品名</th>
                                <th>入仓时间</th>
                                <th>仓库位置</th>
                                <th>状态</th>
                                <th>操作</th>
						    </tr>
						  </thead>
						  <tbody>
						    <tr>
                                <td>{{ orders.o_name }}</td>
                                <td>{{ orders.o_time }}</td>
                                <td>{{ orders.location }}</td>
                                <td>{{ orders.status }}</td>
                                <td>
                                <div class="layui-table-cell laytable-cell-1-0-10">
							      	  	<a class="layui-btn layui-btn-normal layui-btn-xs" href="{{url_for('bussiness_page.outc', id=orders.id)}}">入仓</a>
							      	  	<a class="layui-btn layui-btn-danger layui-btn-xs delete" href="{{url_for('login_page.show_detail', order_id=order.id)}}">详情</a>
                                </div>
                                </td>
						    </tr>
						  </tbody>
					</table>
			 	</div>
            </div>
        </div>
    </div>
   	</div>
        <script src="../../static/assets/layui.js"></script>
        <script src="../../static/index.js" data-main="home"></script>
            <script src="../../static/home.js"></script>
        </div>
</body>
</html>
