<!DOCTYPE html>
<html lang="en">
<head>
<link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
<link rel="stylesheet" href="{{ url_for('static', filename='/css/list.css') }}" type="text/css">


</head>
<body>
    <meta charset="UTF-8">
    <title>商品</title>

    <div class="radiogroup">
       <table>
            <tr>

            <td><span class="text">编号</span></td>
            <td><span class="text">商品</span></td>
            <td><span class="text">入仓时间</span></td>
            <td><span class="text">仓库位置</span></td>
            <td><span class="text">状态</span></td>
  </tr>
    {% for order in orders %}
<form action="{{url_for('warehouse_page.out', id=order.id)}}">
  <tr>
        <td><span class="text">{{ order.id }}</span></td>
        <td><span class="text">{{ order.o_name}}</span></td>
        <td><span class="text">{{ order.o_time }}</span></td>
        <td><span class="text">{{ order.location }}</span></td>
        <td><span class="text">{{ order.status }}</span></td>
      <td><button type="submit"  class="data-input">出仓</button></td>

  </tr>
</form>
    {% endfor %}
<tr>
    <td>{{ paginate.links }}</td>
</tr>
        </table>
    </div>
    <form action="{{ url_for('warehouse_page.query') }}" method="post">
<div class="input-group">
    <label class="search">
      <input type="text" placeholder="名称查询"/>
    </label>
    <button class="unit" type="submit"><i class="fa fa-search"></i></button>
  </div>
    </form>


</div>





</body>
</html>