<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>{{type}}</title>
    <link rel="stylesheet" href="../../static/assets/css/layui.css">
    <link rel="stylesheet" href="../../static/assets/css/view.css"/>
    <link rel="stylesheet" href="../../static/assets/css/admin.css"/>
    <link rel="stylesheet" href="../../static/bootstrap.min.css">
    <script src="../../static/jquery.min.js"></script>
    <script src="../../static/popper.min.js"></script>
    <script src="../../static/bootstrap.min.js"></script>
    <link rel="stylesheet" href="../../static/assets/css/navigation.css"/>
    <link href="//netdna.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">


</head>
<body class="layui-view-body">
<div class="container-fluid fixed-top bg-dark py-3" style="height:60px">
    <div class="row">
        <div class="col-sm-1 col-0 collapse show sidebar">
            <!-- spacer col -->
        </div>
        <div class="col px-3 col-sm-1">
            <!-- toggler -->
            <a data-toggle="collapse" href="#" data-target=".collapse" role="button">
                <i class="fa fa-bars fa-lg"></i>
            </a>
        </div>
    	    <div class="mianb col-sm-6">
    		    <div class="mblf layui-col-xs6 layui-col-md6">
    			     <i class="layui-icon">&#xe656;</i>
    			    <p>物流追踪管理 >{{type}}</p>
    		    </div>
                </div>
  <div class="dropdown col">
    <button type="button" class="btn btn-primary dropdown-toggle pull-right " data-toggle="dropdown"><i class="fa fa-gear"></i></button>
    <div class="dropdown-menu dropdown-menu-right" style="min-width: 100px">
      <a class="dropdown-item" href="{{ url_for('login_page.edit', id=user.id) }}">用户修改</a>
      <a class="dropdown-item" href="{{ url_for('login_page.password_edit', id=user.id) }}">密码修改</a>
      <a class="dropdown-item" href="{{ url_for('login_page.exit') }}">退出</a>
    </div>
  </div>

    </div>
</div>


<div class="container-fluid">
    <div class="row vh-100 flex-nowrap">
        <div class="col-1 collapse show sidebar bg-dark text-white px-0">
            <ul class="nav flex-column flex-nowrap text-truncate navbar-dark bg-dark position-fixed pt-2 vh-100" id="sidebar">
                <li class="nav-item">
                    <a class="nav-link" href="#">订单管理</a>
                </li>
                <!--<li class="nav-item">-->
                    <!--<a class="nav-link disabled" href="#">Disabled</a>-->
                <!--</li>-->
            </ul>
        </div>



        <div class="layui-content col-sm-12">
            	    <div class="table-responsive">
	                        <table class="layui-table" lay-skin="line" lay-size="lg" id="table">
						      <thead>
						        <tr>
                                    <th>编号</th>
                                    <th>订单名</th>
                                    <th>时间</th>
                                    <th>当前地</th>
                                    {% if type != '仓库'%}<th>目的地</th>{%endif%}
                                    {% if type != '仓库'%}<th>联系人</th>{%endif%}
                                    {% if type != '仓库'%}<th>电话</th> {%endif%}
                                    <th>状态</th>
                                    <th>操作</th>
						        </tr>
						    </thead>
						    <tbody>
                            {% for order in orders %}
						        <tr>
                                    <td>{{ order.id }}</td>
                                    <td>{{ order.o_name }}</td>
                                    <td>{{ order.o_time }}</td>
                                    <td>{{ order.location }} </td>
                                    {% if type != '仓库'%}<td>{{ order.desc }} </td>{%endif%}
                                    {% if type != '仓库'%}<td>{{ order.person }} </td>{%endif%}
                                    {% if type != '仓库'%}<td>{{ order.tel }}</td>{%endif%}
                                    <td>{{ order.status }}</td>
                                    <td>
                                    <div class="layui-table-cell laytable-cell-1-0-10">
							      	      	<a class="layui-btn layui-btn-normal layui-btn-xs" href="{{url_for(hre, id=order.id)}}">{{ops}}</a>
							      	  	    <a class="layui-btn layui-btn-danger layui-btn-xs delete" href="{{url_for('login_page.show_detail', order_id=order.id)}}">详情</a>
                                    </div>
                                    </td>
						        </tr>
                            {% endfor %}

                            </tbody>
					    </table>
                        {{ pagination.info }}
                        <tr>
                            {{ pagination.links }}
                        </tr>
			 	    </div>



        <div class="mianb">
    		<div class="mbrt layui-col-xs6 layui-col-md6">
                 <form action="{{ url_for('login_page.query') }}" method="post">
                     <tr>
                        <td>订单号: <input name="o_id" type="text" value=></td>
                        <td><input type="submit" name="submit" value="查询" class="layui-btn layui-btn-normal"/></td>
                     </tr>
                </form>
    		</div>
    	</div>
        <script src="../../static/assets/layui.js"></script>
        <script src="../../static/index.js" data-main="home"></script>
            <script src="../../static/home.js"></script>
        </div>
         </div>
        </div>


</body>
</html>